/variable/ByteVariable/nbproject/private/
/variable/ByteVariable/build/
/variable/ShortVariable/nbproject/private/
/variable/ShortVariable/build/
/variable/IntegerVariable/nbproject/private/
/variable/IntegerVariable/build/
/variable/CharVariable/nbproject/private/
/variable/ShoppingCart01/build/
/variable/ShoppingCart01/nbproject/private/
/variable/ShoppingCart02/build/
/variable/ShoppingCart02/nbproject/private/
/practice/MakeGameDate/nbproject/private/
/practice/MakeGameDate/build/
/class/StringsEx/build/
/class/RandomEx/build/
/class/MathEx/build/
/practice/ComputeMethod/nbproject/private/
/practice/ComputeMethod/build/
/practice/InputName/nbproject/private/
/practice/InputName/build/
/practice/ColorsWave/nbproject/private/
/practice/ColorsWave/build/
/practice/StopLightLifeCycle/nbproject/private/
/practice/StopLightLifeCycle/build/
/looping/ForLoopsEx/nbproject/private/
/looping/ForLoopsEx/build/
/oop/JavaApplication14/nbproject/private/
/oop/AccountTest/nbproject/private/
/oop/AccountTest/build/
/oop/PrisonTest/nbproject/private/
/oop/PrisonTest/build/
/oop/JavaFXApplication1/nbproject/private/
/oop/JavaFXApplication1/build/
/oop/JavaFXApplication1/dist/
/oop/JavaApplication16/nbproject/private/
/oop/JavaApplication16/build/
/java programing/AssertionEx/nbproject/private/
/java programing/AssertionEx/build/
/java programing/Collection/nbproject/private/
/java programing/Collection/build/
/java programing/CollectionWithGeneric/nbproject/private/
/java programing/ClassLIst/nbproject/private/
/java programing/ClassLIst/build/
/java programing/HashSetExample/nbproject/private/
/java programing/HashSetExample/build/
/java programing/HashFruits/nbproject/private/
/java programing/HashFruits/build/
/java programing/LettersQueue/nbproject/private/
/java programing/LettersQueue/build/
/java programing/LetterStack/nbproject/private/
/java programing/LetterStack/build/
/java programing/ClassListObj/nbproject/private/
/java programing/ClassListObj/build/
/java programing/SortExample/nbproject/private/
/java programing/SortExample/build/
/java programing/StringExample/nbproject/private/
/java programing/StringExample/build/
/java programing/StringVsBuilder/nbproject/private/
/java programing/StringVsBuilder/build/
/java programing/StringBuilderDemo/nbproject/private/
/java programing/StringBuilderDemo/build/
/java programing/RegularExpressionExample/nbproject/private/
/java programing/RegularExpressionExample/build/
/java programing/RhymingGame/nbproject/private/
/java programing/RhymingGame/build/
/java programing/SsnCheck/nbproject/private/
/java programing/SsnCheck/build/
/java programing/PatternTest/nbproject/private/
/java programing/PatternTest/build/
/java programing/RegexGroups/nbproject/private/
/java programing/RegexGroups/build/
/java programing/RecursionExample/nbproject/private/
/java programing/RecursionExample/build/