/variable/ByteVariable/nbproject/private/
/variable/ByteVariable/build/
/variable/ShortVariable/nbproject/private/
/variable/ShortVariable/build/
/variable/IntegerVariable/nbproject/private/
/variable/IntegerVariable/build/
/variable/CharVariable/nbproject/private/
/variable/ShoppingCart01/build/
/variable/ShoppingCart01/nbproject/private/
/variable/ShoppingCart02/build/
/variable/ShoppingCart02/nbproject/private/
/practice/MakeGameDate/nbproject/private/
/practice/MakeGameDate/build/