/variable/ByteVariable/nbproject/private/
/variable/ByteVariable/build/
/variable/ShortVariable/nbproject/private/
/variable/ShortVariable/build/
/variable/IntegerVariable/nbproject/private/
/variable/IntegerVariable/build/